header {
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding: 5rem;
}


#questions{
    color:blue;
}

#timer{
    color: brown;
    border: solid brown;
    text-align: center;
}
#timer-count{
    padding: 2rem;
    font-size: 2.5rem;
}

#score{
    color: brown;
    border: solid brown;
    text-align: center;
}
#score-count{
    padding: 2rem;
    font-size: 2.5rem;
}

#choices{
    color: green
}