header {
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding: 5rem;
    background-color: navy;
    display: flex;
}

#start-btn,
#high-scores {
    border: 4px solid darkslategray;
    padding: 10px;
    margin: 0 auto;
    background-color: papayawhip;
    color: darkslategray;
    font-weight: bold;
    font-size: 20px;
}

/* .container {
} */

#questions{
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: darkslategray;
    font-size: 20px;
}

#timer{
    color: navy;
    border: solid navy;
    text-align: center;
    margin-top: 5rem;
}
#timer-count{
    padding: 2rem;
    font-size: 2.5rem;
}

#score{
    color: navy;
    border: solid navy;
    text-align: center;
}
#score-count{
    padding: 2rem;
    font-size: 2.5rem;
}

#choices1,
#choices2,
#choices3,
#choices4 {
    margin: 0 auto;
    border: 10px solid navy;
    background-color:papayawhip;
    color:darkslategray;
    font-size: 1.5rem;
}

#scores-form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: darkslategray;
    font-size: 20px;
}

.hidden{
    display: none;
}